<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reducing Toxic Exposures In Homes</title>
  </head>
  <body>
    <h1>You Have Successfully Uploaded Your Image</h1>
  <br>
  <form action="/show_image" target="_blank">
        <input type="submit" value="View Your Image" />
    </form>
    <br>
    <p>
      To upload another picture, click <a href="/index1">here</a>
  </p>

  </body>
</html>