<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reducing Toxic Exposures In Homes</title>
  </head>
  <body>
    <h1>Upload An Image Of A Room In Your Home</h1>
    <p>Please choose a .jpg image to upload then click on the Upload button</p>
    <br>
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="file" name="file" accept=".jpg">
        <input type="submit" value="Upload">
    </form>
  </body>
</html>